:local(.WindowDimension) {
	display: flex;
	height: 100vh;
}

:local(.PanelDimensions) {
	flex: 1;
	display: inline-block;
	background-color: darkgreen;
}

:local(.ChatPanel) {
	max-width: 300px;
	background-color: white;
}

:local(.PlayersStats) {
	max-width: 300px;
	background-color: black;
	color: black;
}

:local(.TablesPanel) {
	min-width: 300px;
	color: white;
	border-left: 1px solid #333;
	border-right: 1px solid #AAA;
}

:local(.SplitTableDimensions) {
	display: flex;
  flex-flow: column;
  height: 100vh;
}

:local(.PlayerPanel) {
	display: block;
  flex: 1;
	width: 100%;
	position: relative;
}

:local(.DealerPanel) {
	display: block;
  flex: 1;
	border-bottom: 1px solid black;
	position: relative;
}

:local(.ChatDimensions) {
	display: flex;
  height: 100vh;
  flex-flow: column;
}

:local(.ChatInput) {
	width: 300px;
	padding-left: 7px;
	padding-right: 7px;
	outline: none;
	border: none;
	border-bottom: 1px solid #DDD;
	height: 50px;
}

:local(.ChatMessages) {
	width: 300px;
	flex: 1;
	overflow-y: auto;
}

:local(.MessageLog) {
	width: 300px;
	display: block;
	padding-left: 7px;
	padding-right: 7px;
}

:local(.AlternateMessageStyling) {
	background-color: #F8F8F8;
}

:local(.UsernameTitle) {
	font-weight: bold;
}

:local(.PlayerTab) {
	width: 300px;
	background-color: #F8F8F8;
	height: 50px;
	border-bottom: 1px solid black;
	overflow: hidden;
	position: relative;
}

:local(.PlayerTabTotalCount) {
	font-size: 55px;
	display: inline-block;
	font-weight: bold;
	margin-left: 10px;
	color: #666;
}

:local(.PlayerTabPlayerName) {
	display: inline-block;
	position: absolute;
  line-height: 50px;
	margin-left: 10px;
	max-width: 159px;
	overflow-x: hidden;
}

:local(.PlayerTabBet) {
	display: inline-block;
	position: absolute;
  line-height: 50px;
	right: 10px;
	color: #880;
}

:local(.ActionPanel) {
	position: absolute;
	background: linear-gradient(270deg, #00aaee, #00dbde);
	background-size: 400% 400%;

	-webkit-animation: gradientAnimation 13s ease infinite;
	-moz-animation: gradientAnimation 13s ease infinite;
	animation: gradientAnimation 13s ease infinite;
	bottom: 0px;
	width: 100%;
	height: 50px;
	color: black;
}

@-webkit-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

:local(.PlayerActionButton) {
	display: inline-block;
	text-align: center;
	padding: 16px;
	width: 25%;
	height: 50px;
	vertical-align: middle;
}

:local(.PlayerBetButton) {
	display: inline-block;
	text-align: center;
	padding: 16px;
	width: 25%;
	height: 50px;
	vertical-align: middle;
}

:local(.PlayerBetButton:hover) {
	color: white;
	cursor: pointer;
}

:local(.PlayerActionButton:hover) {
	color: white;
	cursor: pointer;
}

:local(.CardPanel) {
	width: 100%;
	text-align: center;
	max-height: 400px;
	overflow-y: hidden;
}

:local(.CardSize) {
	width: 100px;
	height: 150px;
	margin: 30px 5px 0px 5px;
}

:local(.BetPanel) {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

:local(.BetAnnouncement) {
	text-align: center;
	margin-bottom: 10px;
}

:local(.TimeAnnouncement) {
	text-align: center;
	margin-bottom: 10px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

:local(.BetMoney) {
	text-align: center;
	margin-bottom: 10px;
}

:local(.BetOptions) {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#88d7fc+0,bd07f4+99 */
	background: linear-gradient(270deg, #00aaee, #00dbde);
	background-size: 400% 400%;

	-webkit-animation: gradientAnimation 3s ease infinite;
	-moz-animation: gradientAnimation 3s ease infinite;
	animation: gradientAnimation 3s ease infinite;
	height: 50px;
	color: black;
}

:local(.Inactive) {
	background-color: #00000066;
}

:local(.PlayerTabInactive) {
	background-color: #333;
	color: grey;
}

:local(.noselect) {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
